#app {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

#main-input {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.input-options {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#main-video {
    min-width: 300px;
    max-width: 300px;
    aspect-ratio: 1;
    border-radius: 100vmax;
    background-color: #e6e6e6;
    background: linear-gradient(100deg, rgb(255 255 255) 40%, rgb(143 143 143 / 50%) 50%, rgb(255 255 255) 60%) #e6e6e6;
    background-size: 500% 100%;
    background-position-x: 50%;
    border: 1px solid darkgrey;
}

pre {
    white-space: pre-wrap;
}

.animated {
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        /* background-position-x: -20%;
        background-position-y: -20%; */
        transform: rotate(360deg);
    }
}
