#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#main-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.input-options {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}

#main-video {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 100vmax;
    background-color: #e6e6e6;
    background: linear-gradient(100deg, rgb(255 255 255) 40%, rgb(143 143 143 / 50%) 50%, rgb(255 255 255) 60%) #e6e6e6;
    background-size: 500% 100%;
    background-position-x: 50%;
    border: 1px solid darkgrey;
}

.animated {
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        /* background-position-x: -20%;
        background-position-y: -20%; */
        transform: rotate(360deg);
    }
}
